<template>
  <div class="about">
    <v-container class="text-center">
      무도짤 추천은 <a href="https://school.programmers.co.kr/learn/courses/14620" target="_blank">프로그래머스 인공지능 데브코스</a> 4기 최종프로젝트 결과물입니다.<br>
      이 서비스의 작동 원리가 궁금하신 분은 아래 설명 영상과 발표 자료를 참고해 주세요.<br>
      서버 운영 비용 문제로 평소에는 서비스 이용이 불가하니, 시연을 해보고 싶으신 분은 관리자에게 메일을 주세요. (<a href="mailto:skkujin@gmail.com">skkujin@gmail.com</a>)<br>
      백엔드, ML 서버 Github: <a href="https://github.com/jriverflow/mudo_jjal_rec" target="_blank">github.com/jriverflow/mudo_jjal_rec</a><br>
      프론트엔드 Gitlab: <a href="https://gitlab.com/mudojjalrecsys/mudojjalrecsys.gitlab.io" target="_blank">gitlab.com/mudojjalrecsys/mudojjalrecsys.gitlab.io</a>
      <v-row>
        <v-col class="justify-center pt-10">
          <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/jPy23jw2-R8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          >
        </iframe>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="justify-center">
          <v-btn
          class="ma-10"
          href="assets/about.pdf"
          download
          >
            발표자료 내려받기
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex justify-center">
          <v-img
          src="assets/images/about_1.png"
          width="70vw"
          height="50vh"
          ></v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex justify-center">
          <v-img
          src="assets/images/about_2.png"
          width="70vw"
          height="50vh"
          ></v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex justify-center">
          <v-img
          src="assets/images/about_3.png"
          width="70vw"
          height="50vh"
          ></v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex justify-center">
          <v-img
          src="assets/images/about_4.png"
          width="70vw"
          height="50vh"
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
</style>
