<template>
  <div class="people">
    <v-container class="text-center pt-10 pb-10">
      <v-row class="justify-center align-center">
        만든 사람들
      </v-row>
    </v-container>
    <v-container class="text-center">
      <v-row class="justify-center align-center">
        김기진
        <a href="mailto:skkujin@gmail.com" target="_blank">
          <v-avatar
          color="warning"
          rounded="1"
          class="mx-3 mr-1"
          >
            <v-icon icon="mdi-email"></v-icon>
          </v-avatar>
        </a>
        <a href="https://www.linkedin.com/in/kijin-kim-50695b150/" target="_blank">
          <v-avatar
          color="info"
          rounded="1"
          class="mx-1 mr-1"
          >
            <v-icon icon="mdi-linkedin"></v-icon>
          </v-avatar>
        </a>
        <a href="https://github.com/KijinKims" target="_blank">
          <v-avatar
          color="black"
          rounded="1"
          class="mx-1 mr-1"
          >
            <v-icon icon="mdi-github"></v-icon>
          </v-avatar>
        </a>
      </v-row>
    </v-container>
    <v-container class="text-center">
      <v-row class="justify-center align-center">
        김민석
        <a href="mailto:min100ja@naver.com" target="_blank">
          <v-avatar
          color="warning"
          rounded="1"
          class="mx-3 mr-1"
          >
            <v-icon icon="mdi-email"></v-icon>
          </v-avatar>
        </a>
        <a href="https://github.com/kmsstat" target="_blank">
          <v-avatar
          color="black"
          rounded="1"
          class="mx-1 mr-1"
          >
            <v-icon icon="mdi-github"></v-icon>
          </v-avatar>
        </a>
      </v-row>
    </v-container>
    <v-container class="text-center">
      <v-row class="justify-center align-center">
        하영아
        <a href="mailto:raffiellowa@gmail.com" target="_blank">
          <v-avatar
          color="warning"
          rounded="1"
          class="mx-3 mr-1"
          >
            <v-icon icon="mdi-email"></v-icon>
          </v-avatar>
        </a>
        <a href="https://www.linkedin.com/in/ireneyoungaha" target="_blank">
          <v-avatar
          color="info"
          rounded="1"
          class="mx-1 mr-1"
          >
            <v-icon icon="mdi-linkedin"></v-icon>
          </v-avatar>
        </a>
        <a href="https://github.com/ireneyoungaha" target="_blank">
          <v-avatar
          color="black"
          rounded="1"
          class="mx-1 mr-1"
          >
            <v-icon icon="mdi-github"></v-icon>
          </v-avatar>
        </a>
      </v-row>
    </v-container>
    <v-container class="text-center">
      <v-row class="justify-center align-center">
        한준수
        <a href="mailto:k-mevol@hanmail.net" target="_blank">
          <v-avatar
          color="warning"
          rounded="1"
          class="mx-3 mr-1"
          >
            <v-icon icon="mdi-email"></v-icon>
          </v-avatar>
        </a>
        <a href="https://www.linkedin.com/in/junsu-han-13ba31a1/" target="_blank">
          <v-avatar
          color="info"
          rounded="1"
          class="mx-1 mr-1"
          >
            <v-icon icon="mdi-linkedin"></v-icon>
          </v-avatar>
        </a>
        <a href="https://github.com/jriverflow" target="_blank">
          <v-avatar
          color="black"
          rounded="1"
          class="mx-1 mr-1"
          >
            <v-icon icon="mdi-github"></v-icon>
          </v-avatar>
        </a>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
a {
    text-decoration: none;
}
</style>
