<template>
  <div class="release">
    <v-container class="text-center">
      <ul>
          <li>2023.02.16 현재 1,550 개의 무도짤이 있습니다.</li>
      </ul>
    </v-container>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
ul {
  list-style: none;
}
ul li::before {
  content: url('@/assets/images/skull.png');
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}
</style>
