<script>
  export default {
    props: ['emotion'],
  }
</script>

<template>
    <div v-if="emotion === '슬픔'">
        <v-tooltip
        location="top"
        >
            <template v-slot:activator="{ props }">
                <v-btn
                icon
                color="blue"
                v-bind="props"
                >
                <v-icon>
                    mdi-emoticon-sad-outline
                </v-icon>
                </v-btn>
            </template>
            <span>슬픔</span>
        </v-tooltip>
    </div>
    <div v-else-if="emotion === '행복'">
        <v-tooltip
        location="top"
        >
            <template v-slot:activator="{ props }">
                <v-btn
                icon
                color="pink"
                v-bind="props"
                >
                <v-icon>
                    mdi-emoticon-excited-outline
                </v-icon>
                </v-btn>
            </template>
            <span>행복</span>
        </v-tooltip>
    </div>
    <div v-else-if="emotion === '분노'">
        <v-tooltip
        location="top"
        >
            <template v-slot:activator="{ props }">
                <v-btn
                icon
                color="red"
                v-bind="props"
                >
                <v-icon>
                    mdi-emoticon-angry-outline
                </v-icon>
                </v-btn>
            </template>
            <span>분노</span>
        </v-tooltip>
    </div>
    <div v-else-if="emotion === '놀람'">
        <v-tooltip
        location="top"
        >
            <template v-slot:activator="{ props }">
                <v-btn
                icon
                color="purple"
                v-bind="props"
                >
                <v-icon>
                    mdi-emoticon-dead-outline
                </v-icon>
                </v-btn>
            </template>
            <span>놀람</span>
        </v-tooltip>
    </div>
    <div v-else-if="emotion === '중립'">
        <v-tooltip
        location="top"
        >
            <template v-slot:activator="{ props }">
                <v-btn
                icon
                color="gray"
                v-bind="props"
                >
                <v-icon>
                    mdi-emoticon-neutral-outline
                </v-icon>
                </v-btn>
            </template>
            <span>중립</span>
        </v-tooltip>
    </div>
</template>
